.error-container {
    padding: 40px 5%;
    background-color: #b71c1c;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}